<section class="artifact-map" aria-label="Krontium no-text archaeological specimen map">
  <i class="earth-system"></i>
  <i class="earth-orbit earth-orbit-a"></i>
  <i class="earth-orbit earth-orbit-b"></i>
  <i class="earth-root earth-root-a"></i>
  <i class="earth-root earth-root-b"></i>

  <i class="sky-trajectory sky-trajectory-a"></i>
  <i class="sky-trajectory sky-trajectory-b"></i>
  <i class="sky-trajectory sky-trajectory-c"></i>
  <i class="sky-bone"></i>

  <i class="neutral-seal"></i>

  <i class="sea-system"></i>
  <i class="sea-cell sea-cell-a"></i>
  <i class="sea-cell sea-cell-b"></i>
  <i class="sea-cell sea-cell-c"></i>
  <i class="sea-cell sea-cell-d"></i>

  <i class="human-fire human-fire-a"></i>
  <i class="human-fire human-fire-b"></i>
  <i class="human-fort human-fort-a"></i>
  <i class="human-fort human-fort-b"></i>
</section>
